.input-field {
	@apply w-full p-2 border border-neutral-700 rounded focus:outline-none focus:border-indigo-500 bg-transparent text-white transition-colors mt-1;
}

.btn-primary {
	@apply w-full py-2 text-white font-semibold  transition duration-300 ease-in-out mt-1;
	border-radius: 10px;
	&:hover {
		@apply opacity-90
	}
}

.input-field {
	position: relative;
	background: #F5F5F5;
	padding: 10px 25px;
	border-radius: 10px;
	color: #333;
}

.input-mail::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url('/mail.svg');
}